{% extends 'main/base.html' %}

{% block title %}
Rebalance/Weights
{% endblock %}

{% block start %}

    {% csrf_token %}
    <div class="container">
        <h2 class="text-center"><u>Portfolio Weightings<br/> </u></h3><br>
        <p>enter portfolio name </p>
        <form action=''>
            <label for="Portfolio"> ENTER:  Portfolio Name:  </label>
            <input id="Port_id" type="text" name="pid" />
            <label for="PortValue"> Portfolio Value:  </label>
            <input id="Port_value" type="text" name="pvalue" />
            <input type="submit" />
        </form>


{% endblock start %}